version: '3'
services:
    db:
        #image: pasedb:mongohhh
        image: mongo:4.0.2
        container_name: db
        tty: true
        stdin_open: true
        restart: always
        volumes:
            - /opt/pasedb/mongodb/pasedb:/data/db
#        ports:
#            - 27017:27017

    ui:
#        build: pasedbui/docker
        image: pasedbui
        container_name: pasedbui
        tty: true
        stdin_open: true
        links:
            - db
        ports:
            - 80:8080
            - 443:8443
        volumes:
            - /opt/pasedb/tomcat/logs:/usr/local/tomcat/logs

#        networks:
#              pasedb_web:
#                aliases:
#                 - md
#              pasedb_dmz:
#                aliases:
#                 - md

#networks:
#    pasedb_web:
#        driver: bridge
#        ipam:
#            driver: default
#            config: [{subnet: 10.10.1.0/24}]
#    pasedb_dmz:
#        driver: bridge
#        ipam:
#            driver: default
#            config: [{subnet: 10.10.2.0/24}]
