.links {
	border: 1px solid #0000FF;
	border-collapse: collapse;
	padding: 3px;
}

.links td {
	padding: 3px;
}

.links tbody {
	border: 1px solid #0000FF;
	padding: 3px;
}

img {
	border-style: none;
}